html,
body,
* {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

html,
body {
  width: 99.6%;
  height: 99%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
  height: 10px;
  transition: all 500ms;
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

.bartender {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000000;
}

.bar {
  width: 100%;
  height: 20%;
  background: #12125e;
  animation: enter;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

.bar:nth-child(2) {
  animation-delay: 100ms;
}

.bar:nth-child(3) {
  animation-delay: 200ms;
}

.bar:nth-child(4) {
  animation-delay: 300ms;
}

.bar:nth-child(5) {
  animation-delay: 400ms;
}

@keyframes enter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

body {
  background: #000011;
  color: white;
  box-sizing: border-box;
}

.trail {
  opacity: 0;
  position: absolute;
  background-color: #0d0d52;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  filter: blur(50px);
  overflow: hidden;
  z-index: -1;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#landingParallax {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

#landingParallax .text {
  position: relative;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  text-align: center;
}

#landingParallax .text * {
  text-align: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.navbar {
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav-left {
  align-self: flex-start;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar .nav-mid {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navbar .nav-right {
  align-self: flex-end;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar a {
  color: #ffffff;
  text-decoration: underline;
  text-align: center;
}

button {
  border: 1px solid #3b16e2a1;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

button {
  border: 1px solid #3b16e2a1;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar button {
  border: none;
}

button:hover {
  color: #000000;
  background-color: #ffffff;
  transform: translateY(-5px);
  cursor: pointer;
  box-shadow: 2px 16px 63px -13px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 2px 16px 63px -13px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 2px 16px 63px -13px rgba(0, 0, 0, 0.56);
}

.main {
  width: 100%;
  height: 100%;
}

.main .landingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 12px;
}

.main .landingSection * {
  margin: 0;
  text-align: center;
}

.main .lineup {
  width: 100%;
  height: 100%;
}

.main .lineup h1 {
  margin-left: 20px;
}

.main .content {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main .content h1.title {
  text-align: left;
  margin-left: 20px;
}

.main .content p.description {
  text-align: left;
  margin-left: 20px;
  width: 80%;
}

.grid {
  width: 80%;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-self: center;
}

.grid .tier {
  padding: 10px;
  margin-top: 0;
  background-color: #17179965;
  border: 1px solid #1c1cb7e4;
  border-radius: 10px;
}

.grid .tier h2 {
  margin-left: 7px;
  padding: 0;
}

.grid .tier * {
  margin-top: 2px;
  margin-left: 5px;
  padding: 0;
}

.grid .tier .description {
  margin-bottom: 30px;
  padding: 0;
}

.grid .tier .description .price {
  font-weight: 500;
}

ul {
  padding: 0;
}

ul.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.animation {
  transform: translateX(-50px);
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.scroll-animation {
  transform: translateX(0);
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .nav-item.title {
    text-align: left;
    width: 200px;
  }
  .nav-right button {
    font-size: 0.7rem;
    width: 75px;
  }

  .main .content h1.title {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }

  .main .content p.description {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
}
