/* @font-face {
  font-family: SegoeUIVariable;
  src: url("fonts/Segoe-UI-Variable-Static-Display.ttf");
}

@font-face {
  font-family: SegoeUIVariableBold;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Bold.ttf");
}

@font-face {
  font-family: SegoeUIVariableLight;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Light.ttf");
}

@font-face {
  font-family: SegoeUIVariableSemibold;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Semibold.ttf");
}

@font-face {
  font-family: SegoeUIVariableSemilight;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Semilight.ttf");
} */
/* fonts cause unbearable loading times for me  */

#daisy-btn {
  background-color: #0d0d52;
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  right: 24px;
  bottom: 24px;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
}

#daisy-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#daisy-btn.unloaded {
  background-color: #0d0d52;
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  right: 24px;
  bottom: 40px;
  opacity: 0;
}

#daisy-close {
  position: absolute;
  top: 17px;
  right: 18px;
  border-radius: 5px;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 24px;
  border: none;
  background: transparent;
  font-size: 24px;
  color: #ffffff;
}

#daisy-close:hover {
  cursor: pointer;
}

#daisy-chat {
  position: fixed;
  bottom: 90px;
  right: 24px;
  width: 80%;
  border-radius: 10px;
  max-width: 300px;
  height: 80%;
  max-height: 400px;
  z-index: 1000;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#daisy-chat iframe {
  border-radius: 8px;
}

#daisy-chat.unloaded {
  position: fixed;
  right: 24px;
  bottom: 40px;
  opacity: 0;
}
/* 
  @media (min-width: 600px) {
    #daisy-chat {
      width: 40%;
      height: 65%;
      bottom: 14%;
    }
  }
  
  @media (min-width: 900px) {
    #daisy-chat {
      width: 30%;
      height: 75%;
      bottom: 14%;
    }
  } */
@media (min-width: 600px) {
  #daisy-chat {
    width: 40%;
  }
}

@media (min-width: 900px) {
  #daisy-chat {
    width: 30%;
  }
}
